# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages used in Data Science
* Popular libraries used in Data Science
* Popular Tools used in Data Science
* Example of executing expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia 
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. TensorFlow
3. NumPy
4. Pandas
5. Scikit-learn

|Data Science Tools |
|-----|
|Jupyter Notebook|
|JupyterLab|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes equals to {hours} hours")

200 minutes equals to 3.3333333333333335 hours

## Author
Anish Das